---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<h2 class="text-3xl font-bold font-mono mb-4">Hi, I'm Nik!</h2>
	<p class="text-lg my-4">
		I've spent more than 15 years building science-oriented software, much of it
		with a focus on maps and spatial analysis. I've spent the last 5+ years
		leading a team of software engineers at the non-profit,
		<a
			class="underline text-blue-400 visited:text-fuchsia-400"
			href="https://consbio.org">Conservation Biology Institue</a
		>.
	</p>
	<p class="text-lg my-4">
		Good software has clear purpose and positive impact on the world. It enables
		people to make informed decisions and put them into action. Such software is
		built with care and attention to detail by a collaberative, diverse, and
		interdisciplinary team. I strive to put these principles into action in my
		work.
	</p>

	<h2 class="text-2xl font-bold mt-10">Let's work together</h2>
	<p class="text-lg my-4">
		I'm currently available for part time consulting. I have extensive
		experience planning and implementing software projects, particularly web
		application development (front- and back-end) and maps and geospatial (GIS)
		programming.
	</p>
</Layout>
