---
const currYear = new Date().getFullYear()
---

<footer
  class="flex justify-center text-sm text-slate-600 dark:text-slate-200 mt-20"
>
  <div>&copy; {currYear} Nik Molnar</div>
  <div class="mx-6">&bull;</div>
  <div>
    Built with <a
      class="underline text-blue-400 visited:text-fuchsia-400"
      href="https://astro.build">Astro</a
    >
  </div>
</footer>
