---
import Favicon from '../../public/favicon.svg'
---

<header class="flex items-center p-4 gap-4 font-sans text-lg font-bold">
  <a class="size-[50px]" href="/"
    ><Favicon viewBox="8 8 116 116" aria-hidden="true" /><h1 class="sr-only">
      Nik Molnar
    </h1>
  </a>
  <div class="grow"></div>
  <a
    class="p-2 rounded-full hover:text-slate-50 hover:bg-teal-900 dark:hover:text-teal-900 dark:hover:bg-slate-50 transition-all duration-250"
    href="/resume/">Resume</a
  >
  <a
    class="p-2 rounded-full hover:text-slate-50 hover:bg-teal-900 dark:hover:text-teal-900 dark:hover:bg-slate-50 transition-all duration-250"
    href="/projects/">Projects</a
  >
  <a
    class="p-2 rounded-full hover:text-slate-50 hover:bg-teal-900 dark:hover:text-teal-900 dark:hover:bg-slate-50 transition-all duration-250"
    href="/contact/">Contact</a
  >
</header>
